<div class="shortener" *ngIf="loadPage">
  <h1>URL Shortener 🔗</h1>
  <form [formGroup]="AddLinkForm" (ngSubmit)="onSubmit()">
    <div class="form-group my-3">
      <label for="link" class="mb-2">Paste link</label>
      <input type="text" id="link" class="form-control" aria-describedby="url-help" placeholder="Enter URL"
        formControlName="longUrl">
      <small id="url-help" class="form-text text-muted">Shortened link will be available for 90 days</small>
    </div>
    <div class="form-group my-3">
      <label for="ending" class="mb-2">Custom link ending</label>
      <input type="text" class="form-control" id="ending" placeholder="custom" formControlName="ending">
      <small id="ending-help" class="form-text text-muted">Link will be in format: gsu.ee/<b>custom</b></small>
    </div>
    <div class="form-group my-3">
      <label for="days">Valid (days)</label>
      <input type="number" class="form-control" id="days" min="1" max="365" formControlName="days">
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!AddLinkForm.valid">Shorten</button>
    </div>
  </form>

  <div class="warning-msg" *ngIf="apiResponse && apiResponse.status == 'ERROR'">
    <fa-icon [icon]="warningIcon"></fa-icon>
    {{ apiResponse.message }}
  </div>

  <div class="success-msg" *ngIf="apiResponse && apiResponse.status == 'OK'">
    <fa-icon [icon]="successIcon"></fa-icon>
    Link will be available until: {{apiResponse.url.validUntil | dateprocessor}} <br>
    <a href="{{apiResponse.url.short}}">{{apiResponse.url.short}}</a>
  </div>
</div>